html{
	height: 100%;
}

body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.block {
	min-height: 100%;
	padding: 20%;
	padding-top: 0%;
	padding-bottom: 0%;
	position: relative;
	background-color: #eeeeee;
}

.content {
	margin: 0 auto;
	padding: 1%;
	padding-bottom: 2%;
	background-color: white;
	font-size: 16.4px;
	line-height: 26px;
}

hr {
	margin-top: 1%;
}

.head-line {
	font-weight: bold;
	font-size: 23px;
	text-align: center;
}

img {
	margin: 0 auto;
	padding: 0;
	display: block;
}

.foto {
	text-align: center;
}

.information {
	text-align: left;
	margin-left: 10%;
}
